
.purple{ color: #939;}
.thin{ font-weight: 100;}

.Cockpit button{
  background-color: #73a1e6;
  color: #FFF;
}
.Cockpit button:hover{
  background-color: lightgreen;
  color: #4b4b4b;
}
.Cockpit button.hide{
  background-color: #c70b3d;
  color: #FFF;
}
.Cockpit button.hide:hover{
  background-color: #ffb6b6;
  color: #4b4b4b;
}