
.purple{ color: #939;}
.thin{ font-weight: 100;}

.Button{
  background-color: #73a1e6;
  color: #FFF;
}
.Button:hover{
  background-color: lightgreen;
  color: #4b4b4b;
}
.Button.hide{
  background-color: #c70b3d;
  color: #FFF;
}
.Button.hide:hover{
  background-color: #ffb6b6;
  color: #4b4b4b;
}